ul {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  border-radius: 10px;

  &>.img {
    align-self: stretch;
    flex: 1;

    &>img {
      aspect-ratio: 1/1;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &>p {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &>.buy {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 2rem;
  background-color: var(--primary-color);
  border-radius: 10px;

  &>li {
    gap: inherit;
    display: grid;
    padding-block: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10rem;

    &>div {
      display: flex;
      flex-direction: start;
      align-items: center;

      &>img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}