.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 20rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  border-radius: 10px;

  &>.img {
    align-self: stretch;
    flex: 1;

    &>img {
      aspect-ratio: 1/1;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &>p {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &>.buy {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}