#root>* {
  display: flex;

  &>* {
    flex: 1;
  }

  &:is(section) {
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-darker);
  }
}

header {
  margin-bottom: 20rem;
}

main {
  display: flex;
}

.search {
  display: flex;

  &>.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &>input {
    flex: 1;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 5rem;

  &>a {
    transition: border-color 0.25s;
    border: 1px solid transparent;

    &:hover {
      border-color: var(--primary-light);
      color: var(--primary-light);
    }
  }
}

@media (prefers-color-scheme: light) {
  section {
    background-color: var(--primary-lighter);
  }
}