:root {
  --primary-color: oklch(80% 0.14 92);

  --primary-light: oklch(from var(--primary-color) 88% c h);
  --primary-lighter: oklch(from var(--primary-color) 94% c h);

  --primary-dark: oklch(from var(--primary-color) 70% 0.1 h);
  --primary-darker: oklch(from var(--primary-color) 60% 0.025 h);

  --white-1: oklch(from var(--primary-color) 99% 0.025 h);
  --white-2: oklch(from var(--primary-color) 98% 0.025 h);

  --black-1: oklch(from var(--primary-color) 6% 0.025 h);
  --black-2: oklch(from var(--primary-color) 12% 0.025 h);
  --black-3: oklch(from var(--primary-color) 20% 0.025 h);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white-2);
  background-color: var(--black-2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--primary-light);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--black-1);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-light);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black-3);
    background-color: white;
  }

  a:hover {
    color: var(--primary-lighter);
  }

  button {
    background-color: #f9f9f9;
  }
}